<div id="view_track">
  <div class="track_edit_header">
    <div class="view_close">HOME</div>
    <h3></h3>
    <span>あああああああああaaaaaaaaaaaaaaaaaaaaa</span>
    <a class="btn_monitor btn_active">S</a>
  </div>
</div>
