<div id="view_track">
  <div class="track_edit_header">
    <div class="view_close">HOME</div>
    <h3></h3>
    <a class="btn_monitor btn_active">S</a>
  </div>
  <div id="edit_track_chord" class="edit_track">
    <div class="swiper-container edit_chord">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="tr_guide">
            <li>
              <div class="edit_m">1</div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
            </li>
            <li>
              <div class="edit_m">2</div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
            </li>
            <li>
              <div class="edit_m">3</div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
            </li>
            <li>
              <div class="edit_m">4</div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
              <div class="edit_b"></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div id="edit_btn_left">
      <ul>
        <li><a class="btn_octave"><span>oct</span><span class="oct">-1</span></a></li>
        <li><a class="btn_duration">1/4</a></li>
        <li><a class="btn_duration">△</a></li>
        <li><a class="btn_duration">▽</a></li>
        <li>×</li>
      </ul>
    </div>
    <div id="edit_btn_bottom">
      <ul>
        <li><a class="btn_">function</a></li>
        <li><a class="btn_">degree</a></li>
        <li><a class="btn_">name</a></li>
      </ul>
    </div>
  </div>
  <div id="chord_category">
    <ul id="btn_chord_function">
      <li><a class="func_Ext">Matrix</a></li>
      <li><a class="func_T">T</a></li>
      <li><a class="func_SD">SD</a></li>
      <li><a class="func_D">D</a></li>
    </ul>
    <ul id="btn_chord_type">
      <li><a class="func_SD">sus</a></li>
      <li><a class="func_SD">dim</a></li>
      <li><a class="func_SD">aug</a></li>
      <li><a class="func_Sub">Sub</a></li>
      <li><a class="func_Ext">Ext</a></li>
    </ul>
  </div>
  <div id="list_diatonic">
    <ul>
      <li><a class="func_T">I △</a></li>
      <li><a class="func_sd">II m</a></li>
      <li><a class="func_t">III m</a></li>
      <li><a class="func_SD">IV △</a></li>
      <li><a class="func_D">V △</a></li>
      <li><a class="func_t">VI m</a></li>
      <li><a class="func_d">VII m-5</a></li>
      <li><a class="func_T">I △7</a></li>
      <li><a class="func_sd">II m7</a></li>
      <li><a class="func_t">III m7</a></li>
      <li><a class="func_SD">IV △7</a></li>
      <li><a class="func_D">V 7</a></li>
      <li><a class="func_t">VI m7</a></li>
      <li><a class="func_d func_Ext">VII m7-5 add9</a></li>
    </ul>
  </div>
  <div id="list_candidate">
    <ul>
      <li><a class="func_T">I △</a></li>
      <li><a class="func_sd">II m</a></li>
      <li><a class="func_t">III m</a></li>
      <li><a class="func_SD">IV △</a></li>
      <li><a class="func_D">V △</a></li>
    </ul>
  </div>
  <div id="list_future">
    <ul>
      <li>
        <div id="test">
          <a>aaaa</a>
        </div>
      </li>
      <li><a class="func_T">I △</a></li>
      <li><a class="func_sd">II m</a></li>
      <li><a class="func_t">III m</a></li>
      <li><a class="func_SD">IV △</a></li>
      <li><a class="func_D">V △</a></li>
    </ul>
  </div>

</div>
