<div id="manual">

  <div id="ui_01" class="manual_menu">
    <h2>フレーズ作成操作説明</h2>
    <dl>
      <dt><%= image_tag 'UI_manual_1.png',class:'manual_img' %></dt>
      <dd>
        <h3>トラック情報入力画面</h3>
        <ul>
          <li><b>フレーズタイトル</b>（必須）</li>
          <li><b>フレーズをアップロード</b></li>
          <li><b>BPM</b><br/>フレーズのテンポを指定します。</li>
          <li><b>拍子</b><br/>フレーズの拍子を指定します（現在4/4のみ）</li>
          <li><b>キー</b><br/>フレーズのキーを指定します。</li>
          <li><b>スケール</b><br/>フレーズのスケールを指定します。</li>
          <li><b>トラック名</b><br/>トラックに名前をつけます（空欄可）</li>
          <li><b>データ編集</b><br/>シーケンスデータ<span style="font-size:0.8rem">※1</span>入力画面に移行します。</li>
          <li><b>小節追加</b><br/>フレーズのシーケンス長が4小節追加されます</li>
          <li><b>フレーズ再生</b></li>
        </ul>
        <p>※1 TONEADEでは、自動演奏の事をシーケンス、記録された演奏データをシーケンスデータと呼称します。</p>
        <p><br/>※現在、データ作成の途中でも⑤キー、⑥スケールを変更（転調）することができますが、これはマスタートラックが未実装であるための暫定措置です。今後のアップデートでマスタートラックが実装されると、シーケンスデータが入力されている場合、この⑤⑥フォームでの変更はできなくなります。転調の指定はマスタートラックで管理する事になります。</p>
      </dd>
      <dt><%= image_tag 'UI_manual_2.png',class:'manual_img' %></dt>
      <dd>
        <h3>データ入力画面</h3>
        <ul>
          <li><b>小節ガイド</b><br/>数字のついたカラムに、セルが縦に4つ並んで１つの小節を構成します。各セルは小節の1/4、つまり1拍を表します。</li>
          <li><b>オクターブを選択</b><br/>コードボタン(⑦)のオクターブを変更します。</li>
          <li><b>音価を選択</b><br/>シーケンスセルに入力する音価を変更します。デフォルトは１小節です。</li>
          <li><b>消しゴム</b><br/>選択中のセルの内容を削除します。</li>
          <li><b>コード情報切り替え</b><br/>セルに入力されたコードの表記を変更します。(機能、ディグリー、コード名)</li>
          <li><b>シーケンスセル</b><br/>タップする事で選択、非選択をトグルします。選択状態でコードボタンを押す事でコードを入力できます。<br/>またこのエリアを左右にスワイプする事で、表示中の４小節以外のシーケンスセルを表示する事ができます</li>
          <li><b>コードボタン</b><br/>フリック操作でコードを再生します。フリックで上下に最大１オクターブまでコードを転回させる事ができます。シーケンスセルが選択状態であれば、そのセルにコードが入力されます。</li>
          <li><b>戻る</b><br/>トラック情報入力画面に戻ります。フレーズデータのアップロードなどはトラック情報入力画面から行う必要があります。</li>
          <li><b>フレーズ再生</b></li>
        </ul>
        <p>シーケンスセル(⑥)を選び、⑦のコードボタンを演奏してデータを入力します。次のシーケンスセルを選択しコードを演奏して入力します。</p>
      </dd>
    </dl>
  </div>

</div>
