<div id="user_follows" class="blog_list">
  <h2>Follow User</h2>
  <% if @follows.present? %>
    <ul>
    <% @follows.each do |follow| %>
      <li>
        <a href="<%= user_path(follow.id)%>" data-turbolinks="false">
          <div class="blog_head">
            <div class="blog_prof">
              <div class="prof_icon"></div>
              <span><%= follow.name %></span>
            </div>
            <div class="blog_count"><span><%= Blog.where(user_id: follow.id).size %> </span><span>Phrases</span></div>
          </div>
        </a>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="content_empty">Follow ユーザーはいません。</div>
  <% end %>
</div>
