/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= normalize.css
 *= _skeleton.css
 *= swiper.css
 *= toneade.scss
 *= require_tree .
 *= require_self
 */
a {
  color: #000;
}

ul {
  margin: 0;
}
form{
  margin-bottom: 0;
}
p{
  margin: 0;
}
h1,h2,h3{
  letter-spacing: 0.05rem;
}
#container{
  padding: 0;
}
.content_wrapper{
  margin-top: 48px;
  min-height: calc( 100vh - 58px );
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}
