$base-color: rgba(245, 251, 239, 1);
$thema-color: rgba(67, 182, 211, 1);
$sub-color: rgba(97, 112, 125, 1);
$dark-color: rgba(35, 41, 45, 1);
$point-color: rgba(168, 35, 66, 1);
$line-color: #cccccc;
body {
  background: #f4f4f4;
}
#page_locate{
  width: 100%;
  overflow: hidden;
  position: fixed;
  // padding-top: 5px;
  // padding-left: 10px;
  // margin-top: -5px;
  // margin-left: -5px;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff;
}
#page_locate a{
  display: block;
}
#version{
  font-size: 1.4rem;
}
#page_locate h1{
  display: block;
  float: left;
  margin: 0;
  letter-spacing: 0.05rem;
  line-height: 33px;
}
#logo{
  text-decoration: none;
  font-size: 2.4rem;
  color: #000;
  margin-right: 2rem;
  float: left;
  line-height: 48px;
  margin-left: 10px;
}
.notice{
  text-align: center;
  padding: 2rem 0;
}
.pagination{
  display: table;
  width: auto;
  margin: 2rem auto;
  text-decoration: none;
}
.pagination span{
  display: table-cell;
  text-align: center;
  height: 28px;
  width: 28px;
  line-height: 28px;
}
.pagination span a{
  display: inline-block;
  height: 28px;
  width: 28px;
  margin: 0 auto;
  text-decoration: none;
}
.pagination .current{
  display: inline-block;
  background: #cccccc;
  border-radius: 50%;
}
.edit_user input,.edit_user textarea,.new_user input,.new_user textarea{
  width:100%;
}
.edit_user .field,.new_user .field{
margin-bottom: 2rem;
}
#page_locate{
  box-shadow: 0 0 1px rgba(0,0,0,0.4);
}
// .pagination span:last-child{
//   border-right: 0;
// }
// .pagination span.first, .pagination span.prev, .pagination span.next, .pagination span.last{
//   width:32px;
//   height: 32px;
// }
@media screen and ( min-width:320px) {
  h1{
    font-size: 2.4rem;
  }
  h2{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  #phrase_progression li{
    min-width:50%;
    flex-basis:50%;
  }
  .drawer-menu-item{
    font-size: 1.4rem;
  }
  #page_locate{
    height: 48px;
  }
  #page_locate h1{
    font-size: 1.8rem;
    padding-top: 10px;
  }
}

.drawer-hamburger {
  padding: 0 9px;
}
.drawer-menu li{
  border-bottom: 1px solid $line-color;
  margin: 0;
  padding: 0.5rem;
}
@media screen and (min-width:560px) {
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 1.8rem;
    margin: 0;
  }
  #phrase_progression li{
    min-width:25%;
    flex-basis:25%;
  }
  .blog_list li{
    margin: 0 0 2rem!important;
    border: solid 1px #dddddd!important;
    padding: 1rem!important;
    border-radius: 3px!important;
    background: #fff!important;
  }
}
@media screen and (min-width:960px) {
  h1{
    font-size: 6rem;
  }
  h2{
    font-size: 1.8rem;
    margin: 0;
  }
  #phrase_progression li{
    min-width:12.5%;
    flex-basis:12.5%;
  }
  #container{
    width:960px;
    margin: 0 auto;
  }
  #container.top {
    width:100%!important;
  }
  .content_wrapper{
    margin-top: 60px!important;
  }
  #page_locate {
    height: 60px;
  }
  #logo{
    height: 60px;
    line-height: 60px;
  }
  #page_locate{
    padding: 0 1rem;
  }
  #page_locate h1{
    line-height: 47px;
  }
  .drawer-hamburger {
    padding: 0 9px;
  }
}
