// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base-color: rgba(237, 240, 239, 1);
$thema-color: rgba(148, 227, 45, 1);
$thema-color-light: rgba(205, 250, 147, 1);
$light-font: rgba(173, 186, 181, 1);
$thema-font: rgba(128, 196, 39, 1);
$dark-font: rgba(55, 71, 65, 1);
$sub-color: rgba(97, 112, 125, 1);
$dark-color: rgba(35, 48, 43, 1);
#profile{
  overflow: hidden;
  clear: both;
  color:$dark-font;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
#prof_box{
  text-align: center;
  padding: 5rem 0;
  background: $thema-color;
  color: #fff;
}
#button_prof_edit{
  position: absolute;
  top: 1rem;
  // left: 1rem;
  a{
    padding: 1rem;
    font-size: 2.4rem;
    color: #fff;
    opacity: 0.6;
    transition:all 0.3s ease-out;
    &:hover{
      opacity: 1;
    }
  }
}
.prof_icon_M {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  background: #ccc;
  height: 120px;
  width: 120px;
  margin: 0 auto;
}
.prof_name{
  width:80%;
  margin: 1rem auto;
  font-size: 2rem;
}
.prof_comment{
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
// .prof_follows{
//   display: table;
//   list-style: none;
//   box-sizing: border-box;
//   float: right;
// }
// .prof_follows li{
//   display: table-row;
//   margin: 0;
//   height: 2rem;
// }
// .prof_follows span{
//   display: table-cell;
//   float: left;
//   line-height: 2rem;
// }
// .prof_follows .data{
//   width:6rem;
//   font-size: 1.4rem;
//   text-align: right;
//   padding-right: 0.8rem;
// }
// .prof_follows .title{
//   width:4.5rem;
//   font-size: 1rem;
// }
.button_follow{
  display: flex;
  justify-content: center;
  position: relative;
  top: -2rem;
}
.button_follow a{
  background: #fff;
  color: $thema-font;
  border: solid 1px $thema-color;
  border-radius: 20px;
  font-size: 1.8rem;
  padding: 0.5rem 5rem;
  transition:all 0.3s ease-out;
  &:hover{
    background: $thema-color-light;
    border: solid 1px #fff;
    color: #fff;
  }
  i{
    margin-right: 0.5rem;
  }
}
.prof_status{
  list-style:none;
  float: left;
  display: table;
  width: 100%;
  font-size: 1rem;
  padding: 0 0 2rem;
}
.prof_status li{
  display: table-cell;
  position: relative;
  width: 33.3%;
  text-align: center;
}
.prof_status li a{
  text-decoration: none;
  &:hover .title{
    color:$thema-color;
  }
}
.prof_status li .title{
  font-size: 1.4rem;
  display: block;
  color:$light-font;
}
.prof_status li .data{
  font-size: 1.8rem;
  display: block;
}
#play_phrase, .btn_create{
  display: block;
  height: 32px;
  border-radius: 20px;
  border: 1px solid $thema-color;
  box-sizing: border-box;
  background: #fff;
  color: $thema-font;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  margin-top: 2rem;
  transition:all 0.3s ease-out;
  &:hover{
    background: $thema-color-light;
    border: solid 1px $thema-color;
    color: $thema-color;
  }
}
.btn_create{
  margin: 1rem 0.8rem 2rem;
}
#prof_comment{
  margin-top: 2rem;
}
#prof_comment p{
  font-size: 1.4rem;
}
#user_menu{
  position: relative;
}
#user_menu ul{
  list-style: none;
  display: block;
  flex-wrap: wrap;
  padding: 0 0.8rem;
}
#user_menu li{
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  // padding:2px 0;
  text-align: center;
  box-sizing: border-box;
}
#user_menu li a{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #ddd;
}
#user_menu li a .menu_icon {
  margin: 0 1rem;
}
#user_menu li a i:last-child {
  float: right;
  position: absolute;
  right: 0;
}
#user_menu li a [class*=" icon-"]:before{
  position: relative;
  line-height: 40px;
  font-size: 2rem;
  top:0;
  left: 0;
  display: block;
}
#user_menu li a span.menu_num{
  position: absolute;
  right: 3rem;
}

.blog_list{
  padding: 4rem 0.8rem 0;
}
#all_blog,#user_nices{
  padding: 0 0.8rem 0;
}
#latest_blog{
  padding: 4rem 0.8rem 0;
}
.blog_list ul{
  display: block;
  list-style: none;
}
.blog_list li{
  display: block;
  // border-top: 1px solid $sub-color;
  // border-bottom: 1px solid $sub-color;
  padding: 0;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  overflow: hidden;
}
.blog_list li:hover{
  background:rgba(67, 182, 211, 0.1);
}
.blog_list li a{
  display: block;
  overflow: hidden;
  text-decoration: none;
  &:hover{
    .blog_date,.list_foot{
      color: $dark-font;
    }
  }
}
.blog_list li div{
  box-sizing: border-box;
}
.blog_list li div.list_head{
  display: table;
  width: 100%;
  background: $thema-color;
  color: #fff;
  padding: 1rem;
  // border-radius: 4px 4px 0 0;
  span{
    display: table-cell;
  }
}
.blog_list li div.list_body{
  background: #fff;
  padding: 1rem;
  // border-radius: 0 0 4px 4px;
  .list_foot {
    display: flex;
    justify-content: space-between;
  }
}

.blog_list li div.blog_scale{
  text-align: center;
}
.blog_list li div.blog_bpm{
  text-align: left;
}
.blog_list li div.blog_bar{
  text-align: center;
}

.blog_list li div.blog_date,.blog_list li div.blog_count{
  width:35%;
  text-align: left;
}

.blog_list li div.blog_nices{
  text-align: right;
  padding-right: 3rem;
  position: relative;
  line-height: 32px;
}

.blog_list li div.blog_title{
  width:100%;
  padding: 0.5rem 0;
  text-align: center;
}

.blog_nices a{
  color:$dark-font!important;
}
.blog_nices .icon{
  position: absolute;
  right: 1.5rem;
  top:0.8rem;
}
.blog_nices .icon:before{
  font-size: 2rem;
}
.blog_nices span:nth-child(1){
  font-size: 1.2rem!important;
  padding: 0 0.5rem;
}
.blog_nices span:nth-child(2){
  font-size: 1.6rem!important;
  padding: 0.5rem;
}

/* User Nice */
#user_nices{

}
.blog_list h2{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
}
.blog_list ul{
  list-style: none;
  display: block;
}

.blog_list li:first-child{
  margin-top:0;
}

.blog_list li,.blog_list li a{
  display: block;
  text-decoration: none;
}
.blog_head{
  display: table;
  width: 100%;
}
.blog_prof,.blog_date{
  display: table-cell;
}
.blog_prof .prof_icon{
  height: 32px;
  width: 32px;
  margin-right: 1rem;
  border-radius: 50%;
  background: #cccccc;
  float: left;
}
.blog_prof{
  text-align: left;
  line-height: 32px;
}
.blog_date{
  width: 10rem;
  text-align: right;
}
.blog_user{
  overflow: hidden;
}
.blog_list h3{
  font-size: 1.6rem;
  margin: 0.7rem 0 0.5rem;
  font-weight: bold;
}
.blog_status{
  display: table;
  width: 100%;
  margin: 0;
}
.blog_status dd{
  display: table-cell;
  margin: 0;
  font-size: 1.2rem;
}
.blog_status dd:first-child{
  width: 12rem;
}
.blog_status dd:nth-child(2){
  width: 6rem;
}
.blog_status dd:last-child{
  text-align: right;
  padding-right: 1.5rem;
}
.blog_status dd span{
  padding: 0 0.5rem ;
}
.blog_status dd span:nth-child(2){
  font-size: 1.6rem;
}
.blog_status dd .icon:before{
  margin-top: -2px;
}
.blog_count{
  text-align: right;
}
.blog_count span:last-child{
  font-size: 1.2rem;
}
